@mixin transparent-grid {
    background-image: linear-gradient(45deg, #CACACC 25%, transparent 25%), linear-gradient(-45deg, #CACACC 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #CACACC 75%), linear-gradient(-45deg, transparent 75%, #CACACC 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}

/*
  * Font file from:
  * https://www.1001freefonts.com/mini-story.font
  */
@font-face {
    font-family: "Mini Story";
    src: url("ttf/Mini Story.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Mini Story";
    src: url("ttf/Mini Story Bold.ttf") format("truetype");
    font-weight: bold;
}

@media screen and (orientation:portrait) {
    .container {
        width: 100%;
    }
}
@media screen and (orientation:landscape) {
    .container {
        max-width: 1024px;
    }
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: #888;
}

h1 {
    font-size: 80px;
    font-family: "Mini Story", "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    margin: 0;
    margin-top: 32px;
    text-align: center;

    img,span {
        vertical-align: top;
    }
}

.social {
    position: absolute;
    top: 10px;
    left: 5px;
}

.license {
    a {
        color: #88e
    }

    a:visited {
        color: #B981EE
    }
}

.button{
    display: inline-block;
    font-size: 1.3rem;
    padding: .4em 0;

    & > * {
        transition: background 500ms;
    }
        
    &.download a {
        padding: .4em;
        border-radius: .2em;
        background: #0075FF;
        margin: 0;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        text-decoration: none;
        color: #000;

        &:hover {
            background: #005CC8;
        }

        &:any-link, &:visited {
            color: #000;
        }
    }

    &.gray {
        label, a {
            background: gray;
            color: #222;

            &:hover {
                background: gray;
            }

            &,* {
                cursor: unset;
            }
        }
    }

    label {
        padding: .4em;
        border-radius: .2em;
        background: #4A9C4A;

        &:hover {
            background: #277227
        }

        &,* {
            cursor: pointer;
            color: inherit;
            user-select: none;
        }

        input {
            display: none;
        }

        button {
            background: none;
            margin: 0;
            padding: 0;
            border: none;
            font: inherit;
        }
    }
}

.input-preview {
    padding: 20px;
    border: 2px gray solid;
    margin: 10px 0;
    background: white;
    text-align: center;

    .image-container {
        vertical-align: baseline;
        margin: 0 1em;
        position: relative;
        width: fit-content;
        display: inline-block;

        img {
            
            border: 1px black dotted;
        }

        svg {
            position: absolute;
            top: 1px;
            right: 1px;
            max-width: 24px;
            min-width: 16px;
            width: 75%;
            display: none;

            &:hover {
                rect {
                    fill: gray;
                    stroke: #555;
                }
            }
        }
    }

    .image-container:hover {
        svg {
            display: block;
        }

        img {
            @include transparent-grid
        }
    }
}

.loading {
    height: 256px;
    border: none !important;
    background: none !important;

    &:hover {
        background: none !important
    }
}

.container {
    background: #ccc;
    margin: auto;
    position: relative;
}

.content-wrapper {
    padding: 1em;
}

.version {
    position: absolute;
    bottom: 2em;
    right: 1em;
    color :white;
}

.dialogue-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.25) 100%);
}

.svg-dialogue {
    height: 512px;
    width: 512px;
    margin: auto;
    background: #ccc;
    display: grid;
    grid-template-columns: 226px 10px 64px 32px 8px 8px 4px 4px 16px 4px 4px 8px 8px 32px 64px auto;
    grid-template-rows: 10px 64px 32px 8px 8px 4px 4px 16px 4px 4px 8px 8px 32px 64px auto;

    .options {
        grid-column: 1;
        grid-row: 1/16;
        border-right: 1px solid black;
        white-space: pre-line;
        line-height: 1.7rem;
    }

    .preview-svg {
        background: white;

        &:hover{
            @include transparent-grid;
        }

        &.s16 {
            grid-column: 9/10;
            grid-row: 8/9;

            img{
                width: 16px;
                max-height: 16px;
            }
        }

        &.s24 {
            grid-column: 8/11;
            grid-row: 7/10;
            
            img{
                width: 24px;
                max-height: 24px;
            }
        }

        &.s32 {
            grid-column: 7/12;
            grid-row: 6/11;
            
            img{
                width: 32px;
                max-height: 32px;
            }
        }

        &.s48 {
            grid-column: 6/13;
            grid-row: 5/12;
            
            img{
                width: 48px;
                max-height: 48px;
            }
        }

        &.s64 {
            grid-column: 5/14;
            grid-row: 4/13;
            
            img{
                width: 64px;
                max-height: 64px;
            }
        }

        &.s128 {
            grid-column: 4/15;
            grid-row: 3/14;
            
            img{
                width: 128px;
                max-height: 128px;
            }
        }

        &.s256 {
            grid-column: 3/16;
            grid-row: 2/15;
            
            img{
                width: 256px;
                max-height: 256px;
            }
        }

        img {
            margin: 0 auto;
        }
    }
}

.output {
    text-align: center;

    .image {
        height: 256px;
    }
}

.resizer {
    display: flex;
    font: 24px Consolas, "Lucida Console", monospace;
    width: 256px;
    margin: auto;
    
    input[type=range] {
        flex: 1;
        width: 100%;
        margin: 0;

        //&::-webkit-slider-runnable-track {}&:focus::-webkit-slider-runnable-track {}&::-moz-range-track {}&::-ms-track {}&::-ms-fill-lower {}&:focus::-ms-fill-lower {}&::-ms-fill-upper {}&:focus::-ms-fill-upper {}
    }

    div {
        line-height: 1em;
        width: auto;
        text-align: right;
        direction: rtl;
        height: 1em;
        display: inline-block;
    }
}

.v-align-helper {
    display: inline-block;
    height: 100%;

    &,&+img {
        vertical-align: middle;
    }
}

footer {
    color: white;
    padding: 1em;
    padding-bottom: 2em;
    background: #333;
}