/*
  * Font file from:
  * https://www.1001freefonts.com/mini-story.font
  */
@font-face {
  font-family: "Mini Story";
  src: url("ttf/Mini Story.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Mini Story";
  src: url("ttf/Mini Story Bold.ttf") format("truetype");
  font-weight: bold;
}
@media screen and (orientation: portrait) {
  .container {
    width: 100%;
  }
}
@media screen and (orientation: landscape) {
  .container {
    max-width: 1024px;
  }
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: #888;
}

h1 {
  font-size: 80px;
  font-family: "Mini Story", "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
  margin: 0;
  margin-top: 32px;
  text-align: center;
}
h1 img, h1 span {
  vertical-align: top;
}

.social {
  position: absolute;
  top: 10px;
  left: 5px;
}

.footer {
  color: white;
  padding: 1em;
  padding-bottom: 2em;
  background: #333;
}
.footer a {
  color: #88e;
}
.footer a:visited {
  color: #B981EE;
}

.button {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.4em 0;
}
.button.download a {
  padding: 0.4em;
  border-radius: 0.2em;
  background: #0075ff;
  margin: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #000;
}
.button.download a:any-link, .button.download a:visited {
  color: #000;
}
.button.gray label, .button.gray a {
  background: gray;
  color: #222;
}
.button.gray label, .button.gray label *, .button.gray a, .button.gray a * {
  cursor: unset;
}
.button label {
  padding: 0.4em;
  border-radius: 0.2em;
  background: #4A9C4A;
}
.button label, .button label * {
  cursor: pointer;
  color: inherit;
  user-select: none;
}
.button label input {
  display: none;
}
.button label button {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

.input-preview {
  padding: 20px;
  border: 2px gray solid;
  margin: 10px 0;
  background: white;
  text-align: center;
}
.input-preview .image-container {
  vertical-align: baseline;
  margin: 0 1em;
  position: relative;
  width: fit-content;
  display: inline-block;
}
.input-preview .image-container img {
  border: 1px black dotted;
}
.input-preview .image-container svg {
  position: absolute;
  top: 1px;
  right: 1px;
  max-width: 24px;
  min-width: 16px;
  width: 75%;
  display: none;
}
.input-preview .image-container svg:hover rect {
  fill: gray;
  stroke: #555;
}
.input-preview .image-container:hover svg {
  display: block;
}
.input-preview .image-container:hover img {
  background-image: linear-gradient(45deg, #CACACC 25%, transparent 25%), linear-gradient(-45deg, #CACACC 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #CACACC 75%), linear-gradient(-45deg, transparent 75%, #CACACC 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}

.loading {
  height: 256px;
  border: none !important;
  background: none !important;
}
.loading:hover {
  background: none !important;
}

.container {
  background: #ccc;
  margin: auto;
  position: relative;
}

.content-wrapper {
  padding: 1em;
}

.version {
  position: absolute;
  bottom: 3px;
  right: 0;
  color: white;
}

.dialogue-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.25) 100%);
}

.svg-dialogue {
  height: 512px;
  width: 512px;
  margin: auto;
  background: #ccc;
  display: grid;
  grid-template-columns: 226px 10px 64px 32px 8px 8px 4px 4px 16px 4px 4px 8px 8px 32px 64px auto;
  grid-template-rows: 10px 64px 32px 8px 8px 4px 4px 16px 4px 4px 8px 8px 32px 64px auto;
}
.svg-dialogue .options {
  grid-column: 1;
  grid-row: 1/16;
  border-right: 1px solid black;
  white-space: pre-line;
  line-height: 1.7rem;
}
.svg-dialogue .preview-svg {
  background: white;
}
.svg-dialogue .preview-svg:hover {
  background-image: linear-gradient(45deg, #CACACC 25%, transparent 25%), linear-gradient(-45deg, #CACACC 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #CACACC 75%), linear-gradient(-45deg, transparent 75%, #CACACC 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}
.svg-dialogue .preview-svg.s16 {
  grid-column: 9/10;
  grid-row: 8/9;
}
.svg-dialogue .preview-svg.s16 img {
  width: 16px;
  max-height: 16px;
}
.svg-dialogue .preview-svg.s24 {
  grid-column: 8/11;
  grid-row: 7/10;
}
.svg-dialogue .preview-svg.s24 img {
  width: 24px;
  max-height: 24px;
}
.svg-dialogue .preview-svg.s32 {
  grid-column: 7/12;
  grid-row: 6/11;
}
.svg-dialogue .preview-svg.s32 img {
  width: 32px;
  max-height: 32px;
}
.svg-dialogue .preview-svg.s48 {
  grid-column: 6/13;
  grid-row: 5/12;
}
.svg-dialogue .preview-svg.s48 img {
  width: 48px;
  max-height: 48px;
}
.svg-dialogue .preview-svg.s64 {
  grid-column: 5/14;
  grid-row: 4/13;
}
.svg-dialogue .preview-svg.s64 img {
  width: 64px;
  max-height: 64px;
}
.svg-dialogue .preview-svg.s128 {
  grid-column: 4/15;
  grid-row: 3/14;
}
.svg-dialogue .preview-svg.s128 img {
  width: 128px;
  max-height: 128px;
}
.svg-dialogue .preview-svg.s256 {
  grid-column: 3/16;
  grid-row: 2/15;
}
.svg-dialogue .preview-svg.s256 img {
  width: 256px;
  max-height: 256px;
}
.svg-dialogue .preview-svg img {
  margin: 0 auto;
}

.output {
  text-align: center;
}
.output .image {
  height: 256px;
}

.resizer {
  display: flex;
  font: 24px Consolas, "Lucida Console", monospace;
  width: 256px;
  margin: auto;
}
.resizer input[type=range] {
  flex: 1;
  width: 100%;
  margin: 0;
}
.resizer div {
  line-height: 1em;
  width: auto;
  text-align: right;
  direction: rtl;
  height: 1em;
  display: inline-block;
}

.v-align-helper {
  display: inline-block;
  height: 100%;
}
.v-align-helper, .v-align-helper + img {
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
